@import 'node_modules/normalize.css/normalize';

@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';
$container-lg: 800px;
$font-size-base: 16px;
//$brand-primary: #f48116;
//$link-color:  #f48116;
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities';

$green-italy: #9a947f;
$white-italy: #ffffff;
$red-italy: #ce2b37;

$orange: #f48116;
$dark-gray: #262d35;
$yellow: #f7d74a;
$light-orange: #f3cda9;
$light-yellow: #faf4d8;

// @font-face {
//     font-family: 'open_sansbold_italic';
//     src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('OpenSans-BoldItalic-webfont.woff') format('woff'),
//          url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
//          url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
body {
  margin: 0;
  background: url(../img/bg/bg-sandwiches.jpg) no-repeat center;
  background-size: cover;
}

.panel {
  box-shadow: 1px 3px 10px 0px #000;
}

.vertical-spacing{
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-padding {
  padding: 20px;
}

.block-center {
  margin: auto;
}

.panel--orange {
  background-color: $orange;
  color: $dark-gray;
}

.panel--yellow {
  background-color: $yellow;
  color: $dark-gray;
}

.panel--light-yellow {
  background-color: $light-yellow;
  color: $dark-gray;
}

.panel--light-orange {
  background-color: $light-orange;
  color: $dark-gray;
}

.panel--dark-yellow {
  background-color: $dark-gray;
  color: $light-yellow;
}

.panel--dark-orange {
  background-color: $dark-gray;
  color: $orange;
}

.logo-wrapper {
  margin: 6px;
  display: inline-block;
  vertical-align:: middle;
}

.text-center {
  text-align: center;
}

// navigation
.main-nav {
  text-align: center;
  margin-top: -12px;
}

.main-nav__item a {
  display: inline-block;
  padding: 10px 1px;
  max-width: 168px;
  width: 80%;
  margin: 5px 0px;
}

.main-nav__item:nth-child(2n+0) a{
  transform: rotate(-5deg);
}

.main-nav__item:nth-child(2n+1) a{
  transform: rotate(5deg);
}

//small-nav
.small-nav ul{
  padding-left: 0;
}

.small-nav li{
  display: inline-block;
  font-size: 1rem;
}

// typography
a, a:hover {
  color: $orange
}
