@import 'node_modules/normalize.css/normalize';

@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import 'variables.scss';
// $container-lg: 800px;
// $font-size-base: 16px;
//$brand-primary: #f48116;
//$link-color:  #f48116;
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_media';

@import 'animation.scss';



// @font-face {
//     font-family: 'open_sansbold_italic';
//     src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
//          url('OpenSans-BoldItalic-webfont.woff') format('woff'),
//          url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
//          url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
body {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/bg/bg-sandwiches.jpg");
  background-size: cover;
  background-color: $light-orange;
}

.panel {
  box-shadow: 1px 3px 10px 0px #000;
}

.vertical-spacing{
  margin-top: 20px;
  margin-bottom: 60px;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
}

.text-padding {
  padding: 20px;
}

.block-center {
  margin: auto;
}

.panel--orange {
  background-color: $orange;
  color: $dark-gray;
}

.panel--yellow {
  background-color: $yellow;
  color: $dark-gray;
}

.panel--light-yellow {
  background-color: $light-yellow;
  color: $dark-gray;
}

.panel--light-orange {
  background-color: $light-orange;
  color: $dark-gray;
}

.panel--dark-yellow {
  background-color: $dark-gray;
  color: $light-yellow;
}

.panel--dark-orange {
  background-color: $dark-gray;
  color: $orange;
}

.logo-wrapper {
  margin: 6px;
  display: inline-block;
  vertical-align:: middle;
}

.text-center {
  text-align: center;
}

// navigation
.main-nav {
  text-align: center;
  margin-top: -12px;
}

.main-nav__item a {
  display: inline-block;
  padding: 10px 1px;
  max-width: 168px;
  width: 80%;
  margin: 5px 0px;
}

.main-nav__item:nth-child(2n+0) a {
  transform: rotate(-5deg);
}

.main-nav__item:nth-child(2n+1) a {
  transform: rotate(5deg);
}

// nav-link
.nav-link + .nav-link {
  margin: 10px 0;
}
//small-nav

.small-nav ul{
  padding-left: 0;
  text-align: center;
}

.small-nav li {
  display: inline;
  font-size: 1rem;
  padding: 0 5px;
  color: $orange;
}

.small-nav li + li {
  border-left: solid 1px;
}

// typography
a, a:hover {
  color: $orange
}

@import 'menu-card.scss';
@import 'state.scss';
@import 'modal.scss';
