@import 'variables.scss';

.home {
  & body {
    background-image: url("img/bg/bg-arancini.jpg");
  }
  .home-link {
    background-color: $orange;
    color: white;
  }
}

.menu {
  & body {
    background-image: url("img/bg/bg-mozzarella.jpg");
  }
  .menu-link {
    background-color: $orange;
    color: white;
  }
}

.parties {
  & body {
    background-image: url("img/bg/bg-party.jpg");
  }
  .parties-link {
    background-color: $orange;
    color: white;
  }
}


.find-us {
  & body {
    background-image: url("img/bg/bg-spaghetti.jpg");
  }
  .find-us-link {
    background-color: $orange;
    color: white;
  }
}
