<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{meta.title}}</title>
        <meta name="description" content="{{meta.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="main.css">
        <script async src="main.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </head>
    <body>
      <header class="panel panel--dark-yellow">
        <div class="text-center text-padding">
          <a href="index.html">
            <span class="logo-wrapper"><img class="img-responsive" width="583" height="75" src="../img/logo.svg" /></span>
            <span class="logo-wrapper"><img class="hidden-xs" width="128" height="72" src="../img/van.svg" /></span>
          </a>
        </div>
      </header>
      <div class="container">
        <nav class="main-nav row" role="main">
          <div class="col-xs-6 col-sm-3 main-nav__item">
            <a class="panel panel--yellow" href="index.html">Home</a>
          </div>
          <div class="col-xs-6 col-sm-3 main-nav__item">
            <a class="panel panel--yellow" href="menu.html">Menu</a>
          </div>
          <div class="col-xs-6 col-sm-3 main-nav__item">
            <a class="panel panel--yellow" href="parties.html">Parties</a>
          </div>
          <div class="col-xs-6 col-sm-3 main-nav__item">
            <a class="panel panel--yellow" href="find-us.html">Find Us</a>
          </div>
        </nav>
