/* Coolors Exported Palette - coolors.co/e28228-e7c73c-262d35-ecaf76-f0dd8a */

/* HSL */
$color1: hsla(29%, 76%, 52%, 1);
$color2: hsla(49%, 78%, 57%, 1);
$color3: hsla(212%, 16%, 18%, 1);
$color4: hsla(29%, 76%, 69%, 1);
$color5: hsla(49%, 77%, 74%, 1);

/* RGB */
$color1: rgba(226, 130, 40, 1);
$color2: rgba(231, 199, 60, 1);
$color3: rgba(38, 45, 53, 1);
$color4: rgba(236, 175, 118, 1);
$color5: rgba(240, 221, 138, 1);