{{>header}}
<div class="place-card-summary row vertical-spacing panel panel--light-yellow place-card text-padding">
  <div class="place-card-summary__title">Find us here</div>
  <div class="col-xs-12 col-sm-6">
    <ul class="place-card-summary__list">
      {{#places}}
        <li><a href="#{{id}}">{{label}}</a>{{#if event}}<span class="place-card-summary__event">{{event}}</span>{{/if}}</li>
      {{/places}}
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    <img class="img-responsive block-center" alt="" src="img/gallery/van-closed.jpg"/>
  </div>
</div>
{{#places}}
<div id="{{id}}" class="row vertical-spacing panel panel--light-yellow place-card text-padding">
  <div class="place-card__title">{{label}}</div>
  <div class="col-xs-12">
    <ul class="place-card__desc">
      {{#desc}}
        <li class="place-card__desc-item">{{this}}</li>
      {{/desc}}
    </ul>
  </div>
  <div class="col-xs-12">
    <div class="place-card__maps">
      <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key={{{../google_maps_key}}}&q={{{place-map}}}" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
{{/places}}
{{>footer}}
