{{>header}}
<div class="row vertical-spacing panel panel--light-yellow">
  <div class="col-xs-12 col-sm-6 text-padding">
    <img class="img-responsive block-center" alt="" src="img/gallery/van-open.jpg"/>
  </div>
  <div class="col-xs-12 col-sm-6 text-padding">
    If you are looking for authentic Italian street food, you have come to the right place.
Italy certainly has many things to offer to travellers but one of the memories tourists have more impressed in their mind when they go back home is street food.
  <div>
    <a class="panel panel--yellow button" href="find-us.html">Find Us</a>
  </div>
  </div>
</div>
<div class="row vertical-spacing panel panel--light-orange">
  <div class="col-xs-12 col-sm-6 text-padding">
    From north to south, Italy offers an endless variety of gastronomic products, and visitors never miss the experience of trying local and folkloric street food.
    We strive to reproduce in England that unique feeling and taste and hope to satisfy even the most demanding customers.
    <div>
      <a class="panel panel--yellow button" href="menu.html">Menu</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 text-padding">
    <img class="img-responsive block-center" alt="" src="img/gallery/montanara.jpg"/>
  </div>
</div>
<div class="row vertical-spacing panel panel--light-yellow">
  <div class="col-xs-12 col-sm-6 text-padding">
    <img class="img-responsive block-center" alt="" src="img/gallery/michele.jpg"/>
  </div>
  <div class="col-xs-12 col-sm-6 text-padding">
    Whatever the budget or the occasion, we would be glad to help you cater for all your requirements and tastes. We may also give you ideas for structuring your menu like flavour combinations or how to avoid clashes.
The listed menus is just a part of what we can offer. Please feel free to ask if you wish a particular italian dish and we will be happy to help.
    <div>
      <a class="panel panel--yellow button" href="parties.html">Parties</a>
    </div>
  </div>
</div>
{{>footer}}
