{{>header}}
{{#menu}}
<div class="row vertical-spacing panel panel--light-yellow text-padding">
  <h4>{{title}}</h4>
  <p>{{description}}</p>
  {{#items}}
  <div class="col-xs-12 col-sm-4">
    <div class="media menu-card{{#if vegetarian}} menu-card__vegetarian{{/if}}">
      <div class="media-left menu-card__picture">
        <a href="#">
          <img class="media-object" src="img/food/small/{{img}}" alt="{{title}}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{#if number}}{{number}}) {{/if}}{{title}}</h4>
        <div class="menu-card__desc">{{description_short}}</div>
      </div>
    </div>
    <div class="menu-card__price panel--yellow">{{price}}</div>
  </div>
  {{/items}}
</div>
{{/menu}}
{{>footer}}
