{{>header}}
<div class="row vertical-spacing panel panel--light-yellow text-padding">
  <b>Make your parties and events memorable with an Italian touch!</b>
  <p>This is what they think about us:</p>
  <p class="quote">
      I would like to say a very big thank you for the food you provided for my daughters wedding.<br />
      Emma had quite specific ideas in her mind of what she wanted for her wedding, and was so pleased when she ‘found’ you and you were able to cater for those ideas.<br />    
      The quality of the food was perfect, as was the service and portion size. I was extremely full by the end!<br /><br />
      
      <b>I would happily recommend your services to anyone.</b><br /><br />
      
      Thank you once again<br />
      Tanya (Emma’s mum)
  </p>
  <p>Call or send us an email for a quote.
      Here are some examples:</p>      
</div>
  
{{#parties}}
<div class="row vertical-spacing panel panel--light-yellow party-card">
  <div class="party-card__title">{{label}}</div>
  <div class="party-card__price">{{price}}</div>
  <div class="col-xs-12 col-sm-6 text-padding">
    <img class="img-responsive block-center party-card__image" alt="" src="img/gallery/{{img}}"/>
  </div>
  <div class="col-xs-12 col-sm-6 text-padding party-card">
    <ul class="party-card__menu">
      {{#menu}}
        <li class="party-card__menu-item">{{name}}
          <div  class="party-card__menu-item-desc">{{description}}</div>
        </li>
      {{/menu}}
    </ul>
  </div>
</div>
{{/parties}}
{{>footer}}
